# The various Python script were run using Python 3.7 via Jupyter notebooks. Several data analysis and data visualization libraries
# are used in these scripts, in addition to beautifulsoup, which was used to implement part of the web crawler apps.
#Here's a complete list of the libraries that are used (excluding some of the specific modules contained within these libraries):

matlotlib
Pandas 
Seaborn 
StatsModels 
numpy 
beautifulsoup4
SQLAlchemy
psycopg2
requests 
time 
random 
warnings 
